# Stellar Configuration
HORIZON_URL=https://horizon-testnet.stellar.org
NETWORK_PASSPHRASE=Test SDF Network ; September 2015
MASTER_SECRET=SBK2VIYYSVG76EB7ZD4FWRP6XGZJ5G2F6URK2743NDEA5Q4K2RN5A2M3

# Toggle for Testnet/Public Network
# For public network, use:
# HORIZON_URL=https://horizon.stellar.org
# NETWORK_PASSPHRASE=Public Global Stellar Network ; September 2015
